* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary: #39ace7;
    --secondary: #0784b5;
    --light-grey: #414c50;
    --grey: #2d383c;
    --dark-grey: #192428;
}

body {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    background-color: var(--grey);
    color: var(--primary);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark-grey);
    color: var(--primary);
    min-width: 100%;
}

/* Header styling */
h1 {
    font-size: 150%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;
    text-align: center;
    padding-top: 3%;
}

h4 {
    margin-top: 2rem;
    font-size: 150%;
}

/* Navigation styling */
nav {
    background-color: var(--dark-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 1%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 350px;
    list-style: none;
}

nav a {
    display: flex;
    background-color: var(--dark-grey);
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary);
}

/* about styling */
#about {
    display: flex;
    justify-content: center;
    padding: 0% 2%;
    align-items: center;
}

#about p {
    font-size: 150%;
    color: var(--primary);
}

#about img {
    margin-top: 2rem;
    margin-left: 10%;
    border-radius: 5rem;
    border-style: solid;
    border-color: var(--secondary);
    max-width: 25%;
    height: auto;
}

/* styling work */
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* styling projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 3%;
}

/* styling project cards */
.card {
    flex: 1 0 0;
    text-align: center;
    max-width: 100%;
    min-width: 50%;
}

.card img {
    border-radius: 3rem;
    border-color: var(--secondary);
    border-style: solid;
    margin-top: 1rem;
    width: 75%;
}

.card img:hover {
    opacity: .75;
    transition: .2s;
}

/* making first project card larger */
#firstCard {
    min-width: 100%;
}


/* styling contact */
#contact ul {
    display: flex;
    justify-content: center;
    margin: 2%;
    list-style: none;
}

#contact li {
    padding: 1rem;
}

#contact a {
    margin: 2%;
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover {
    color: var(--secondary);
}

/* styling resume */
#resume figure {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#resume figure img {
    border-radius: 2rem;
    border-color: var(--secondary);
    border-style: solid;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}