* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary: #39ace7;
    --secondary: #0784b5;
    --light-grey: #414c50;
    --grey: #2d383c;
    --dark-grey: #192428;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    color: var(--primary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark-grey);
    color: var(--primary)
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;
    text-align: center;
}

h4 {
    margin-top: 2rem;
    font-size: 150%;
}

nav {
    display: flex;
    justify-content: end;
    padding-right: 1%
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    list-style: none;
}

nav a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
}

#about p {
    font-size: 150%;
    color: var(--primary);
}

#about img {
    margin-top: 2rem;
    border-radius: 5rem;
    border-style: solid;
    border-color: var(--secondary);
    max-width: 25%;
    height: auto;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.card {
    flex: 1 0 0;
    text-align: center;
    margin: 1rem;
}

.card img {
    border-radius: 3rem;
    border-color: var(--secondary);
    border-style: solid;
    margin-top: 1rem;
    width: 50%;
    min-width: 400px;
}

.card img:hover {
    opacity: .75;
    transition: .2s;
}

#firstCard {
    min-width: 100%;
}

#contact ul {
    display: flex;
    justify-content: center;
    margin: 2%;
    list-style: none;
}

#contact li {
    padding: 1rem;
}

#contact a {
    margin: 2%;
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover {
    color: var(--secondary);
}

figure {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

figure img {
    border-radius: 2rem;
    border-color: var(--secondary);
    border-style: solid;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}